<h1>{{name}}</h1>
<dl>
    <td>Nombre:</td>
    <dd> {{name}}</dd>

    <td>Edad:</td>
    <dd> {{age}}</dd>

    <td>Método:</td>
    <dd>{{getHeroeDescription()}}</dd>

    <td>Capitalizado:</td>
    <dd>{{capitalizaName}}</dd>
</dl>
<button *ngIf="name !=='spiderman'" (click)="changeHeroeName()" class="btn btn-primary mx-2">Cambiar Nombre</button>
<button *ngIf="age !==35" (click)="changeHeroeAge()" class="btn btn-primary mx-2">Cambiar Edad</button>
<button (click)="resetForm()" class="btn btn-primary">Resetar</button>